{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th class='text-start'>Symbol</th>
                <th class='text-end'>Shares</th>
                <th class='text-end'>Price</th>
                <th class='text-end'>Total Sale/Spending</th>
                <th class='text-end'>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td class='text-start'>{{transaction['symbol']}}</th>
                    <td class='text-end'>{{transaction['shares']}}</th>
                    <td class='text-end'>{{transaction['price'] | float | usd}}</th>
                    {% set total = (transaction['price'] | float) * (transaction['shares'] | float) %}
                    {% if total > 0 %}
                        <td class='text-end'>-{{total | usd}}</th>
                    {% else %}
                        <td class='text-end'>{{(-1 * total) | usd}}</th>
                    {% endif %}
                    <td class='text-end'>{{transaction['timestamp']}}</th>
                </tr>
            {% endfor %}
        </tbody>
    <table></table>
{% endblock %}
