{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th class='text-start'>Symbol</th>
                <th class='text-end'>Shares</th>
                <th class='text-end'>Price</th>
                <th class='text-end'>TOTAL</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td class='text-start'> {{ transaction['symbol'] }}</td>
                    <td class='text-end'> {{ transaction['total_shares']}}</td>
                    <td class='text-end'> {{ (transaction['price'] | float) | usd }}</td>
                    {% set total = (transaction['price'] | float) * (transaction['total_shares'] | float) %}
                    <td class='text-end'> {{ total | usd }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class='fw-bold text-end'>Cash</th>
                <td class='text-end'> {{ cash | usd }}</th>
            </tr>

            <tr>
                <td colspan="3" class='fw-bold text-end'>TOTAL</th>
                <td class='text-end'> {{ grand_total | usd}}</th>
            </tr>
        </tfoot>
    </table>
    <form action="/" method="post">
        <button class="btn btn-primary" onclick="return confirmAction()" type = "submit" name = "action" value = "reset">RESET EVERYTHING</button>

        <script>
            function confirmAction() {
                var confirmResult = confirm("Your total will reset to $10,000 and all your shares will disappear. Are you sure?");
                return confirmResult;
            }
        </script>
    </form>
{% endblock %}
